<a href="https://colab.research.google.com/github/AshmiyaLenin/Machine-Learning/blob/main/Linear_Regression_Car_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import os
import kagglehub
path = kagglehub.dataset_download("nehalbirla/vehicle-dataset-from-cardekho")
csv_file='car data.csv'
csv_path=os.path.join(path,csv_file)
df=pd.read_csv(csv_path)
df.head()

Using Colab cache for faster access to the 'vehicle-dataset-from-cardekho' dataset.

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [18]:
from sklearn.linear_model import LinearRegression
x=df[['Year','Kms_Driven','Owner']]
y=df.Selling_Price
model=LinearRegression()
model.fit(x,y)
print("intercept=",model.intercept_)
print("coefficient=",model.coef_)
list(zip(['Year','Kms_Driven','Owner'],model.coef_))

intercept= -1193.7259897523215
coefficient= [ 5.94653267e-01  2.75309066e-05 -9.33499768e-01]

[('Year', np.float64(0.594653266611299)),
 ('Kms_Driven', np.float64(2.753090656563343e-05)),
 ('Owner', np.float64(-0.9334997675394937))]

In [19]:
pred=model.predict([[2020,66782,2
]])
print(pred)

[7.44517827]

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(